.scroll{
    scrollbar-width: none;
}

.clamp::before{
    content: attr(data-before);
    font-size: large;
}

.transition-width{
    transition: width 0.3s ease-in-out;
}

.image-transform{
    transition: transform 0.5s ease-in-out;
}

.image-transform:hover{
    transform: perspective(450px) rotateX(0) rotateY(-10deg);
}